@charset "UTF-8";
@import url("https://fonts.hlxcdn.com/fonts/fonts.css");
.body {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: TTNorms;
}

.update-container {
  display: -ms-grid;
  display: grid;
  background-color: #a0c5db;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
.update-container__text {
  font-size: 14px;
  color: #FFFFFF;
}
.update-container__link {
  font-weight: bold;
  color: #FFFFFF;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 2.5fr 3.5fr 2fr;
  grid-template-columns: 2fr 1fr 2.5fr 3.5fr 2fr;
  z-index: 100;
  height: 83px;
  background-color: #FFFFFF;
}
.header-input {
  display: none;
}
.header-img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 100%;
  -ms-grid-row-align: center;
      align-self: center;
}
.header-wrapper {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row-align: center;
      align-self: center;
}
.header-wrapper .header-nav__link {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.header-cart {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  cursor: pointer;
}

.exome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 2.5fr 2.5fr 1fr 2fr;
  grid-template-columns: 2fr 1fr 2.5fr 2.5fr 1fr 2fr;
  -ms-grid-rows: 1fr 0.5fr 0.6fr 4fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.6fr 4fr 1fr;
  background-color: #f4f4f4;
}

.exome > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.exome > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.exome > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.exome > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.exome > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.exome > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.exome > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.exome > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.exome > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.exome > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.exome > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.exome > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.exome > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.exome > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.exome > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.exome > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.exome > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.exome > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.exome > *:nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.exome > *:nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.exome > *:nth-child(21) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.exome > *:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.exome > *:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.exome > *:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.exome > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.exome > *:nth-child(26) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.exome > *:nth-child(27) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.exome > *:nth-child(28) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.exome > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.exome > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}
.exome-title {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: center;
  -ms-flex-line-pack: end;
      align-content: end;
  font-size: 34px;
  font-weight: bold;
  color: #363636;
}
.exome-subtitle {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-align: center;
  font-size: 16px;
  color: #383838;
}
.exome .menu {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  text-align: center;
  -ms-grid-row-align: center;
      align-self: center;
}
.exome .menu .tablink {
  font-size: 20px;
  padding: 20px;
  font-weight: 500;
  text-align: center;
  color: #ababab;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.exome .menu .tablink:hover {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #4b94c6;
}
.exome .tabcontent {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-rows: 0.35fr 2fr 0.1fr;
  grid-template-rows: 0.35fr 2fr 0.1fr;
  -ms-grid-columns: 0.15fr 1fr 1fr;
  grid-template-columns: 0.15fr 1fr 1fr;
  background-color: #FFF;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 44px 19px #d5d5d5;
          box-shadow: 0 1px 44px 19px #d5d5d5;
}
.exome .tabcontent > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.exome .tabcontent > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.exome .tabcontent > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.exome .tabcontent > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.exome .tabcontent > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.exome .tabcontent > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.exome .tabcontent > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.exome .tabcontent > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.exome .tabcontent > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.exome .tabcontent-title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 24px;
  font-weight: bold;
  color: #363636;
  -ms-grid-row-align: end;
      align-self: end;
}
.exome .tabcontent-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 16px;
  font-weight: normal;
  color: #4e4e4e;
  -ms-grid-row-align: start;
      align-self: start;
  line-height: 1.63;
  width: 85%;
}
.exome .tabcontent-img {
  width: 90%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.accordions {
  overflow: hidden;
  background: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 2.5fr 2.5fr 1fr 2fr;
  grid-template-columns: 2fr 1fr 2.5fr 2.5fr 1fr 2fr;
  -ms-grid-rows: 1fr 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr;
}

.accordions > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.accordions > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.accordions > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.accordions > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.accordions > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.accordions > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.accordions > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.accordions > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.accordions > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.accordions > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.accordions > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.accordions > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.accordions > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.accordions > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.accordions > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.accordions > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.accordions > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.accordions > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.accordions > *:nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.accordions > *:nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.accordions > *:nth-child(21) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.accordions > *:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.accordions > *:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.accordions > *:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}
.accordions-title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: #363636;
}
.accordions-subtitle {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 16px;
  text-align: center;
  color: #383838;
}
.accordions .accordion {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
}
.accordions .accordion-tab {
  overflow: hidden;
}
.accordions .accordion-tab::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #d7d7d7;
  width: 33%;
}
.accordions .accordion-tab__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  color: #ababab;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.accordions .accordion-tab__label:after {
  content: "❯";
  width: 16px;
  height: 16px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.accordions .accordion-tab__content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.3fr 1fr;
  grid-template-rows: 0.3fr 1fr;
}
.accordions .accordion-tab__content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.accordions .accordion-tab__content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.accordions .accordion-tab__content > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.accordions .accordion-tab__content > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.accordions .accordion-tab__content--text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  font-size: 16px;
  line-height: 1.63;
  color: #383838;
  width: 90%;
}
.accordions .accordion-tab__content--img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 85%;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}
.accordions input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.accordions input:checked + .accordion-tab__label {
  color: #383838;
}
.accordions input:checked + .accordion-tab__label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.accordions input:checked ~ .accordion-tab__content {
  max-height: 430px;
}

@media screen and (max-width: 1335px) {
  .header {
    -ms-grid-columns: 1fr 1fr 1.1fr 4fr 1fr;
    grid-template-columns: 1fr 1fr 1.1fr 4fr 1fr;
  }

  .exome {
    -ms-grid-columns: 1fr 1fr 2.5fr 2.5fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 2.5fr 2.5fr 1fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .header {
    -ms-grid-columns: 1fr 1fr 5fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 5fr 1fr 1fr;
  }
  .header-wrapper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .header-img {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self: center;
    width: 50%;
  }
  .header-cart {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self: center;
  }
  .header-input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  .header-input:checked ~ .header-span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  .header-input:checked ~ .header-span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  .header-input:checked ~ .header-span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
  .header-input:checked ~ .header-nav {
    -webkit-transform: none;
            transform: none;
  }
  .header-span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  .header-span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  .header-span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  .header-nav {
    position: absolute;
    width: 500px;
    height: 500px;
    margin: -100px 0 0 -150px;
    padding: 50px;
    padding-top: 120px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4.5fr;
    grid-template-columns: 1fr 4.5fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .header-nav > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .header-nav > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .header-nav > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .header-nav > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .header-nav > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .header-nav > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .header-nav > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .header-nav > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .header-nav > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .header-nav > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .header-nav__link {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    font-size: 25px;
    font-weight: bold;
    color: #363636;
  }

  .exome {
    -ms-grid-columns: 0.5fr 6fr 0.5fr;
    grid-template-columns: 0.5fr 6fr 0.5fr;
    -ms-grid-rows: 0.5fr 0.5fr 0.6fr 4fr 0.25fr;
    grid-template-rows: 0.5fr 0.5fr 0.6fr 4fr 0.25fr;
  }

  .exome > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .exome > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .exome > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .exome > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .exome > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .exome > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  .exome > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .exome > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .exome > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .exome > *:nth-child(10) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .exome > *:nth-child(11) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }

  .exome > *:nth-child(12) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }

  .exome > *:nth-child(13) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .exome > *:nth-child(14) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }

  .exome > *:nth-child(15) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .exome-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    text-align: center;
    -ms-flex-line-pack: end;
        align-content: end;
    font-size: 34px;
    font-weight: bold;
    color: #363636;
  }
  .exome-subtitle {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    text-align: center;
    font-size: 16px;
    color: #383838;
  }
  .exome .menu {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .exome .tabcontent {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-rows: 0.35fr 1.5fr 1fr;
    grid-template-rows: 0.35fr 1.5fr 1fr;
    -ms-grid-columns: 0.1fr 2fr 0.1fr;
    grid-template-columns: 0.1fr 2fr 0.1fr;
  }
  .exome .tabcontent > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .exome .tabcontent > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .exome .tabcontent > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .exome .tabcontent > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .exome .tabcontent > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .exome .tabcontent > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .exome .tabcontent > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .exome .tabcontent > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .exome .tabcontent > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .exome .tabcontent-title {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .exome .tabcontent-text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    width: 85%;
  }
  .exome .tabcontent-img {
    width: 80%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .accordions {
    -ms-grid-columns: 1fr 1fr 2.5fr 2.5fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 2.5fr 2.5fr 1fr 1fr;
    -ms-grid-rows: 0.5fr 0.5fr 6fr 0.1fr;
    grid-template-rows: 0.5fr 0.5fr 6fr 0.1fr;
  }

  .accordions > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .accordions > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .accordions > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .accordions > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }

  .accordions > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }

  .accordions > *:nth-child(6) {
    -ms-grid-row: 1;
    -ms-grid-column: 6;
  }

  .accordions > *:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .accordions > *:nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .accordions > *:nth-child(9) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  .accordions > *:nth-child(10) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }

  .accordions > *:nth-child(11) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }

  .accordions > *:nth-child(12) {
    -ms-grid-row: 2;
    -ms-grid-column: 6;
  }

  .accordions > *:nth-child(13) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .accordions > *:nth-child(14) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .accordions > *:nth-child(15) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }

  .accordions > *:nth-child(16) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
  }

  .accordions > *:nth-child(17) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }

  .accordions > *:nth-child(18) {
    -ms-grid-row: 3;
    -ms-grid-column: 6;
  }

  .accordions > *:nth-child(19) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .accordions > *:nth-child(20) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }

  .accordions > *:nth-child(21) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }

  .accordions > *:nth-child(22) {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
  }

  .accordions > *:nth-child(23) {
    -ms-grid-row: 4;
    -ms-grid-column: 5;
  }

  .accordions > *:nth-child(24) {
    -ms-grid-row: 4;
    -ms-grid-column: 6;
  }
  .accordions .accordion-tab::after {
    width: 76%;
  }
  .accordions .accordion-tab__label {
    width: 95%;
  }
  .accordions .accordion-tab__content {
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
    -ms-grid-rows: 0.3fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
  }
  .accordions .accordion-tab__content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .accordions .accordion-tab__content > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .accordions .accordion-tab__content > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .accordions .accordion-tab__content--text {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    width: 100%;
  }
  .accordions .accordion-tab__content--img {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 75%;
    -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .accordions input:checked ~ .accordion-tab__content {
    max-height: 585px;
  }
}
@media screen and (max-width: 420px) {
  .exome .tabcontent {
    -ms-grid-rows: 0.35fr 0.5fr 1fr;
    grid-template-rows: 0.35fr 0.5fr 1fr;
  }

  .accordions .accordion-tab__content--img {
    width: 100%;
  }
}