@import url("https://fonts.hlxcdn.com/fonts/fonts.css");
.body {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: TTNorms;
}

.update-container {
  display: -ms-grid;
  display: grid;
  background-color: #a0c5db;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
.update-container__text {
  font-size: 14px;
  color: #FFFFFF;
}
.update-container__link {
  font-weight: bold;
  color: #FFFFFF;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 2.5fr 3.5fr 2fr;
  grid-template-columns: 2fr 1fr 2.5fr 3.5fr 2fr;
  z-index: 100;
  height: 83px;
  background-color: #FFFFFF;
}
.header-img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 100%;
  -ms-grid-row-align: center;
      align-self: center;
}
.header-nav {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row-align: center;
      align-self: center;
}
.header-nav__link {
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.header-cart {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
  cursor: pointer;
}

.exome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 2.5fr 2.5fr 1fr 2fr;
  grid-template-columns: 2fr 1fr 2.5fr 2.5fr 1fr 2fr;
  -ms-grid-rows: 1fr 0.5fr 0.6fr 4fr 1fr;
  grid-template-rows: 1fr 0.5fr 0.6fr 4fr 1fr;
  background-color: #f4f4f4;
}

.exome > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.exome > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.exome > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.exome > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.exome > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.exome > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.exome > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.exome > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.exome > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.exome > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.exome > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.exome > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.exome > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.exome > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.exome > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.exome > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.exome > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.exome > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.exome > *:nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.exome > *:nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.exome > *:nth-child(21) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.exome > *:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.exome > *:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.exome > *:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.exome > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.exome > *:nth-child(26) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.exome > *:nth-child(27) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.exome > *:nth-child(28) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.exome > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.exome > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}
.exome-title {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: center;
  -ms-flex-line-pack: end;
      align-content: end;
  font-size: 34px;
  font-weight: bold;
  color: #363636;
}
.exome-subtitle {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  text-align: center;
  font-size: 16px;
  color: #383838;
}
.exome .menu {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  text-align: center;
  -ms-grid-row-align: center;
      align-self: center;
}
.exome .menu .tablink {
  font-size: 20px;
  padding: 20px;
  font-weight: 500;
  text-align: center;
  color: #ababab;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.exome .menu .tablink:hover {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #4b94c6;
}
.exome .tabcontent {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-rows: 0.35fr 2fr 0.1fr;
  grid-template-rows: 0.35fr 2fr 0.1fr;
  -ms-grid-columns: 0.15fr 1fr 1fr;
  grid-template-columns: 0.15fr 1fr 1fr;
  background-color: #FFF;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 44px 19px #d5d5d5;
          box-shadow: 0 1px 44px 19px #d5d5d5;
}
.exome .tabcontent > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.exome .tabcontent > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.exome .tabcontent > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.exome .tabcontent > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.exome .tabcontent > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.exome .tabcontent > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.exome .tabcontent > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.exome .tabcontent > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.exome .tabcontent > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.exome .tabcontent-title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 24px;
  font-weight: bold;
  color: #363636;
  -ms-grid-row-align: end;
      align-self: end;
}
.exome .tabcontent-text {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 16px;
  font-weight: normal;
  color: #4e4e4e;
  -ms-grid-row-align: start;
      align-self: start;
  line-height: 1.63;
  width: 85%;
}
.exome .tabcontent-img {
  width: 90%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.nofuture {
  overflow: hidden;
  background: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 2.5fr 2.5fr 1fr 2fr;
  grid-template-columns: 2fr 1fr 2.5fr 2.5fr 1fr 2fr;
  -ms-grid-rows: 1fr 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr;
}

.nofuture > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.nofuture > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.nofuture > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.nofuture > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.nofuture > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.nofuture > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.nofuture > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.nofuture > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.nofuture > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.nofuture > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.nofuture > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.nofuture > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.nofuture > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.nofuture > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.nofuture > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.nofuture > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.nofuture > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.nofuture > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.nofuture > *:nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.nofuture > *:nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.nofuture > *:nth-child(21) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.nofuture > *:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.nofuture > *:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.nofuture > *:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}
.nofuture-title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: #363636;
}
.nofuture-subtitle {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 16px;
  text-align: center;
  color: #383838;
}
.nofuture-tabs {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
}
.nofuture-label {
  background-color: #fff;
  color: #ababab;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nofuture .active .nofuture-label:hover {
  background-color: #ababab;
}
.nofuture-content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.3fr 1fr;
  grid-template-rows: 0.3fr 1fr;
}
.nofuture-content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.nofuture-content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.nofuture-content > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.nofuture-content > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.nofuture-content__text {
  font-size: 16px;
  line-height: 1.63;
  color: #383838;
  width: 90%;
}
.nofuture-content__img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 100%;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}